@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
}


.sec_spacing{
  @apply py-[50px] xmd:py-[100px];
}



.nav_down_arrow {
  @apply duration-300;
}

.hoverNavArrow:hover .nav_down_arrow {
  @apply rotate-[-180deg] duration-300;
}

.hoverNavArrow:hover .nav_down_arrow path {
  @apply stroke-primary;

}

.container {
  @apply max-w-[1210px] w-full px-5 mx-auto;
}

.big_container {
  @apply max-w-[1560px] w-full px-5 mx-auto;
}

.solid-btn {
  @apply text-white bg-primary font-open-sans px-4 py-[10px] hover:bg-dark-blue duration-300 lg:py-3 lg:px-[30px];
}

.solid-white-btn {
  @apply text-primary bg-white font-open-sans px-8 py-[18px] font-semibold hover:text-white hover:bg-primary duration-300 lg:py-3 lg:px-[30px];
}



/* ======== HEADINGS ========*/

/* Hero Heading */
/* OpenSans - 800 - #833 - 55px */
.ex-large-heading {
  @apply font-open-sans font-extrabold text-main-text text-[36px] leading-[43px] md:text-[45px] md:leading-[55px] lg:text-[55px] lg:leading-[70px];
}

/* OpenSans - 700 - #FFF - 55px */
.large-heading {
  @apply font-open-sans font-bold text-white text-[36px] leading-[49px] md:text-[45px] md:leading-[56px] lg:text-[55px] lg:leading-[70px];
}

/* OpenSans - 700 - #833 - 28px */
.main-heading {
  @apply font-open-sans font-bold text-main-text text-[18px] leading-[25px] md:text-[28px] md:leading-[36px];
}

/* OpenSans - 600 - #046 */
.medium-heading {
  @apply font-open-sans font-semibold text-dark-text;
}

/* OpenSans - 600 - #046 -20px */
.small-heading {
  @apply font-open-sans font-bold text-dark-text text-[20px] leading-[28px];
}


/* ======== TEXTS ========*/

.nav-info {
  @apply font-inter font-medium text-main-text text-[16px] leading-[24px];
}

.large-info {
  @apply font-open-sans font-bold text-main-text text-[18px] leading-[28px];
}

/* OpenSans - 600 - #775 -16px */
.medium-info {
  @apply font-open-sans font-semibold text-light-text text-[12px] leading-[24px] md:text-[16px];
}
/* OpenSans - 400 - #775 -14px */
.small-info {
  @apply font-open-sans font-normal text-light-text text-[14px] leading-[20px];
}


.footer-title {
  @apply font-open-sans font-semibold text-dark-text text-[20px];
}

.footer-info {
  @apply font-open-sans font-normal text-light-text text-[16px];
}

.info-14 {
  @apply font-open-sans font-normal text-light-text text-[14px];
}

.template_card:hover .overlay{
  @apply opacity-40
}

.template_card:hover .overlay_text{
  @apply opacity-100
}

.template_card:hover .template_num{
  @apply opacity-100
}
.template_card:hover .template_bg{
  @apply bg-opacity-10
}
.menu_sidebar.active{
  @apply left-0;
}