@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,body{
  overflow-x: hidden;
}

/* COMMON CLASSES */

.sec_spacing {
  @apply py-[50px] xmd:py-[100px];
}

.sec_spacing-80 {
  @apply py-[40px] xmd:py-[80px];
}

.container {
  @apply max-w-[1210px] w-full px-5 mx-auto;
}

.big_container {
  @apply max-w-[1560px] w-full px-5 mx-auto;
}

.transition-300{
  @apply transition-all duration-300;
}

.solid-btn {
  @apply text-white bg-primary font-open-sans font-semibold px-4 py-[10px] hover:bg-dark-blue duration-300 lg:py-3 lg:px-[30px];
}

.solid-white-btn {
  @apply text-primary bg-white font-open-sans px-8 py-[8px] font-semibold hover:text-white hover:bg-primary duration-300 lg:py-3 lg:px-[30px];
}

.border-bottom{
  @apply border-b border-divider-main;
}

/* ======== HEADINGS ========*/

/* Hero Heading */
/* OpenSans - 800 - #833 - 55px */
.ex-large-heading {
  @apply font-open-sans font-extrabold text-main-text text-[36px] leading-[43px] md:text-[45px] md:leading-[55px] lg:text-[55px] lg:leading-[70px];
}

/* OpenSans - 700 - #FFF - 55px */
.large-heading {
  @apply font-open-sans font-bold text-white text-[36px] leading-[49px] md:text-[40px] md:leading-[56px] lg:text-[55px] lg:leading-[70px];
}

/* OpenSans - 700 - #833 - 28px */
.main-heading {
  @apply font-open-sans font-bold text-main-text text-[18px] leading-[25px] md:text-[28px] md:leading-[36px];
}

/* OpenSans - 600 - #046 */
.medium-heading {
  @apply font-open-sans font-semibold text-dark-text;
}

/* OpenSans - 700 - #046 -20px */
.small-heading {
  @apply font-open-sans font-bold text-dark-text text-[20px] leading-[28px];
}

/* OpenSans - 700 - #833 -36px */
.reg-heading {
  @apply font-open-sans font-bold text-main-text text-[36px] leading-[44px];
}


/* ======== TEXTS ========*/

.nav-info {
  @apply font-inter font-medium text-main-text text-[16px] leading-[24px];
}

/* OpenSans - 400 - #775 - 18px */
.large-info {
  @apply font-open-sans font-normal text-light-text text-[16px] leading-[28px] md:text-[18px];
}

/* OpenSans - 400 - #775 - 16px */
.main-info {
  @apply font-open-sans font-normal text-light-text text-[14px] md:text-[16px] md:leading-[24px];
}

/* OpenSans - 600 - #775 - 16px */
.medium-info {
  @apply font-open-sans font-semibold text-light-text text-[14px] leading-[24px] md:text-[16px];
}

/* OpenSans - 400 - #775 - 14px */
.small-info {
  @apply font-open-sans font-normal text-light-text text-[12px] leading-[20px] md:text-[14px] md:leading-[20px];
}

/* OpenSans - 400 - #827 - 16px */
.reg-info {
  @apply font-open-sans font-normal text-[#111827] text-[16px] leading-[20px];
}



.footer-title {
  @apply font-open-sans font-semibold text-dark-text text-[20px];
}

.footer-info {
  @apply font-open-sans font-normal text-light-text text-[16px];
}

.info-14 {
  @apply font-open-sans font-normal text-light-text text-[14px];
}



/* Header */

.hoverNavArrow{
  @apply after:absolute after:h-[1px] after:w-[0px] after:bg-primary after:bottom-[0%] after:left-[50%] after:translate-x-[-50%] after:translate-y-[-50%] hover:after:w-[100%] after:transition-all after:duration-300;
}
.nav_down_arrow {
  @apply duration-300;
}

.hoverNavArrow:hover .nav_down_arrow {
  transform: rotateX(180deg);
  @apply transition-300;
}

.hoverNavArrow:hover .nav_down_arrow path {
  @apply stroke-primary;
}



/* HERO SEC */

.hero_sec::after{
  position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 55%;
    height: 55%;
    background: #7854F7 no-repeat;
    opacity: 0.5;
    filter: blur(300px);
    z-index: -1;
}

.hero_part::after{
  content: "";
  background: url("../public/icons/herovector.svg") no-repeat;
  @apply absolute top-[-18%] right-[-28%] max-w-[382px] w-full h-[230px] z-[-1];  
}

.hero_part::before{
  content: "";
  background: url("../public/icons/heroShade.svg") no-repeat;
  @apply absolute top-[-60%] left-[-5%] max-w-[390px] w-full h-[587px] z-[-1] bg-left-bottom;  
}


/* Category Card  */

.category_card:hover .categoryCard_img{
  @apply scale-[0.94];
}
.category_card:hover .categoryCard_title{
  @apply text-main-text;
}



 /* Template Card Overlay On Hover */

.template_card:hover .overlay{
  @apply opacity-40
}

.template_card:hover .overlay_text {
  @apply opacity-100
}

.template_card:hover .template_num {
  @apply opacity-100
}

.template_card:hover .template_bg {
  @apply bg-opacity-10
}



/* SideBar Open */

.menu_sidebar.active {
  @apply left-0;
}



/* Free Of Cost Section */

.small_card:hover{
  @apply bg-icon-bg;
}
.small_card:hover .small_card_icon{
  @apply bg-white;
}



/* Sort Button in Filter Page */

.sortby_btn:hover .icon_btn{
  @apply text-primary transition-all duration-300;
}
.sortby_btn:hover .icon_btn svg{
  @apply rotate-180 transition-all duration-300 ;
}
.sortby_btn:hover .icon_btn svg path{
  @apply fill-primary;
}
.sortby_btn:hover .sortby_dropdown{
  @apply opacity-100 visible;
}


/* Filter CheckBoxes (Product page) */

.checkbx,.regCheckBox{
  @apply opacity-0 cursor-pointer h-5 w-5 z-10;
}
.checkmark {
  @apply absolute top-0 right-0 h-5 w-5 bg-transparent border-[1px] border-light-text border-opacity-30 rounded-[3px];
}
.checkmark::after{
  content:'' ;
 @apply absolute h-[14px] w-[14px] top-2/4 right-2/4  translate-x-2/4 -translate-y-2/4;
}
.checkbx:checked ~ .checkmark {
 @apply border-[1px] border-primary
}
.checkbx:checked ~ .checkmark::after {
  @apply bg-primary;
 }


 /* Project Card Overlay On Hover */

 .projectCard:hover .overlay{
  @apply opacity-40;
 } 
 /* .swiper-button-prev::after{
  @apply hidden;
 } */

/* .swiper-button-lock{
  display: block !important;
} */
 .swiper-button-next.swiper-button-lock::after{
  @apply !text-[30px] top-[15%] absolute right-[0px] z-20;
 }
 .swiper-button-prev.swiper-button-lock::after{
  @apply !text-[30px] top-[15%] absolute left-[0px] z-20;
 }


 .swiper.swiper-initialized.swiper-horizontal{
  @apply pr-12;
 }


/* Footer Links Hover Effects */

 .pseudo-text-effect {
  @apply relative p-0 overflow-hidden transition-all duration-500 block;
}
.pseudo-text-effect::after {
  content: attr(data-after);
  transform: translateY(100%);
  @apply inline-block  absolute left-0 transition-all duration-500;
}
.pseudo-text-effect > span {
  transform: translateY(0%);
  @apply inline-block transition-all duration-500;
}
.pseudo-text-effect:hover > span {
  transform: translateY(-100%);
}
.pseudo-text-effect:hover::after {
  transform: translateY(0%);
}


/* OTP Input Fields  */

    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}


/* PDP Section CheckBoxes */

.pdp_chkbx_item{
  grid-template-columns: 1fr auto 1fr;
}

.ckbx_input{
 @apply w-[23px] h-[23px] opacity-0 cursor-pointer z-10
}
.pdp_checkmark{
  @apply w-[23px] h-[23px] border-[2px] border-divider-main absolute top-[50%] left-0 transition-300;
  transform: translateY(-50%);
}
.pdp_checkmark::after{
   content: "";
   border-width: 0 3px 3px 0;
   @apply w-[6px] h-[11px] border-primary -top-full left-[30%] absolute rotate-45 transition-300 opacity-0 invisible
}
.ckbx_input:checked ~ .pdp_checkmark{
  @apply bg-primary-700;
}
.ckbx_input:checked ~ .pdp_checkmark::after{
  @apply top-[15%] opacity-100 visible;
}


 /* PDP Main Image Overlay On Hover */
 .pdp_main_img:hover .overlay{
  @apply opacity-40
}

.pdp_main_img:hover .overlay_text {
  @apply opacity-100
}

.pdp_main_img:hover .template_bg {
  @apply bg-opacity-10
}

.pdp_main_img:hover .preview_img{
  @apply scale-[0.97];
}

/* Tecnical details remove last Child properties */
.tech_detail:last-child, .tech_detail:nth-last-child(2) {
  @apply m-0 p-0 border-0;
}


.swiper-button-next{
  @apply !text-[30px] top-[15%] !fixed !right-[33%] z-20;
}

.swiper-button-prev{
  @apply !text-[30px] top-[15%] !fixed !left-[33%] z-20;
}
/* 
swiper-button-next::after{
  @apply !text-[30px] top-[15%] !fixed right-[0px] z-20;
 } */