@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
}

.nav_down_arrow {
  @apply duration-300;
}

.hoverNavArrow:hover .nav_down_arrow {
  @apply rotate-[-180deg] duration-300;
}

.hoverNavArrow:hover .nav_down_arrow path {
  @apply stroke-primary;

}


.container {
  @apply max-w-[1210px] w-full px-5 mx-auto;
}

.solid-btn {
  @apply text-white bg-primary font-open-sans font-semibold text-lg py-3 px-[30px] hover:bg-dark-blue duration-300;
}

/* ======== HEADINGS ========*/

/* Hero Heading */
/* OpenSans - 800 - #833 - 55px */
.ex-large-heading {
  @apply font-open-sans font-extrabold text-main-text text-[55px] leading-[70px];
}

/* OpenSans - 700 - #FFF - 55px */
.large-heading {
  @apply font-open-sans font-bold text-white text-[55px] leading-[70px];
}

/* OpenSans - 700 - #833 - 28px */
.main-heading {
  @apply font-open-sans font-bold text-main-text text-[28px] leading-[36px];
}

/* OpenSans - 600 - #046 */
.medium-heading {
  @apply font-open-sans font-semibold text-dark-text;
}

/* OpenSans - 600 - #046 -20px */
.small-heading {
  @apply font-open-sans font-bold text-dark-text text-[20px] leading-[28px];
}


/* ======== TEXTS ========*/

.nav-info {
  @apply font-inter font-medium text-main-text text-[16px] leading-[24px];
}

.large-info {
  @apply font-open-sans font-bold text-main-text text-[18px] leading-[28px];
}

.medium-info {
  @apply font-open-sans font-semibold text-light-text text-[16px] leading-[24px];
}

.small-info {
  @apply font-open-sans font-normal text-main-text text-[14px] leading-[20px];
}


.footer-title {
  @apply font-open-sans font-semibold text-dark-text text-[20px];
}

.footer-info {
  @apply font-open-sans font-normal text-light-text text-[16px];
}

.info-14 {
  @apply font-open-sans font-normal text-light-text text-[14px];
}